.cont {
  border: 2px solid black;
  height: 80px;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  transition: 0s;
}
.scrolled {
  
  border: 2px solid black;
  height: 80px;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
background-color: white;

  transition: 0s;
}
.heading {
  text-align: center;
  font-family: "Poppins";
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  align-self: center;
}
.book_icon {
  font-size: 40px;
  line-height: 60px;
  align-self: center;
}
.login{
  border: 2px solid black;
  width: 100px;
  height: 40px;
  padding: 10px;
  position: absolute;
  right: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 1s;
}
.login:hover{
  border-radius: 0px;
  transition: 1s;
  cursor: pointer;
  
}