#container{
    border: 1px solid black;
    width: 100%;
    margin: auto;
}
#romance{
    background-size: contain;
    background-image: url('');

}
#romance:hover{
  
    background-image: url('https://rukminim1.flixcart.com/image/612/612/j8osu4w0-1/book/0/3/4/when-love-happens-original-imaeyngvw72cpxez.jpeg?q=70');

   
}
#romance:hover +#heading-romance{
    display: none;
}
#home-box{
    border: 1px solid black;
    height: 80px;
    width: 50%;
    margin: auto;
    border-radius: 30px;
}