#submit-romance{
    display: none;
   
}
#detailsLoader{
    margin: auto;
    margin-left: 200px;
}
#menue-ro{
  margin-right: 900px;
}
#main-romance{
  /* background-image: url('https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-size: cover;
   */
}
#floating-btn-roma{
  z-index: 1;
 
  
  
}

#loader{
  margin: auto;
}


.box {
 
  cursor: move;
  color: black;
  max-width: 215px;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
}
#home-y-romance:hover{
  color: yellow;
  cursor: pointer;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: 'yellow';
  transform-origin: 0%;
}
#explore-y-btn:hover{
  color: yellow;
}
#wishlist-btn:hover{
  color: yellow;
}
#comment-box{
  border: 1px solid blue;
  height: 70px;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}
#comment-avatar{
  border: 1px solid yellow;
  height: 100%;
  width: 80px;
}
#comment-text{
  margin-left: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;

}
#all-icons{
  display: flex;
}
#romance-d-left-icons{
  display: flex;
  margin-left: 78%;
}